.image-list {
  /*ul 태그 꾸미기 */
  list-style-type: none;
  display: flex;
  /*가로에서 세로로 공간 만들기*/
  gap: 20px;
}
.image-list li {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 10px;
  text-align: center;
  font-size: 36px;
  cursor: pointer;
}
.image-list li a {
  /*image-list(ul) 안의 li 안의 a 태그의 style 태그*/
  color: red;
}
.list1:hover {
  color: white;
  font-size: 0; /*글자 지우는 트릭*/
  background-size: cover;
  background-position: center;
  background-image: url(../img/flower1.jpg);
}
/*image 폴더 안에 flower1 2 3 4 5 모두 갖다놓기 */
.list2:hover {
  color: white;
  font-size: 0; /*글자 지우는 트릭*/
  background-size: cover;
  background-position: center;
  background-image: url(../img/flower2.jpg);
}
.list3:hover {
  color: white;
  font-size: 0; /*글자 지우는 트릭*/
  background-size: cover;
  background-position: center;
  background-image: url(../img/flower3.jpg);
}
.list4:hover {
  color: white;
  font-size: 0; /*글자 지우는 트릭*/
  background-size: cover;
  background-position: center;
  background-image: url(../img/flower4.jpg);
}
.list5:hover {
  color: white;
  font-size: 0; /*글자 지우는 트릭*/
  background-size: cover;
  background-position: center;
  background-image: url(../img/flower5.jpg);
}
/*
 ul li
 = ul .list1
 = .image-list li
 = .image-list .list1
 = .list1
*/
