/* css 파일은 style 태그 내부에 작성한다 생각하고 코딩을 하면 됨 */
/* h1 태그 글자색 orange*/
h1 {
  color: orange;
}
/*
<div id="속성값"></div>
#속성값 {CSS스타일 속성;}

<div class="ABC"> </div>
.ABC {CSS스타일속성;}
*/
.test-div {
  /*
    border : solid → 실선
    border : none → 선 없음
*/
  border: 3px solid black;
  /*
    width : 가로
    height : 세로
*/
  width: 200px;
  height: 200px;

  background-color: lavender;
}

.test-div:active {
  background-color: yellow;
}

/*
    테스트-div
    3px 실선 검정색
    가로세로 300px
    배경색 #ddd
    마우스 커서를 손가락 모양으로 변경

    클릭되고 있을 때
    배경색 black
    글자색 white
    글자크기 30px
*/

.테스트-div {
  border: 3px solid black;
  width: 300px;
  height: 300px;
  background-color: #ddd;
  cursor: pointer;
}

.테스트-div:active {
  background-color: black;
  color: white;
  font-size: 30px;
}

.hover-box {
  border: 3px solid black;
  width: 200px;
  height: 200px;
  background-color: #ddd;

  /*cursor : pointer → 마우스 커서를 손가락 모양으로 변경*/
  cursor: pointer;
}

.hover-box:hover {
  /*
  background-color : 배경 색상
  background-image : 배경 이미지 지정
                      : url("imagelink")
  background-size : 배경 이미지 크기 지정
                      : cover / 이미지를 확대하거나 크게 맞게 확대
 */
  background-image: url("../../01_HTML/cat.jpeg");
  background-size: cover;
}
.호버-박스 {
  border: 3px dotted orange;
  width: 200px;
  height: 200px;
  background-color: yellowgreen;
  cursor: pointer;
}

/*마우스를 호버-박스 위로 올렸을 때
배경 이미지 flower1.jpg
가운데 맞게 표시
글자 가운데 정렬
글자 크기 30px
글자 색상 하얀색
*/
.호버-박스:hover {
  background-image: url(../../01_HTML/flower1.jpg);
  background-size: cover;
  text-align: center;
  font-size: 30px;
  color: white;
}
