h1 {
  color: orange; /*color : 글자 색상 변경*/
}
strong {
  font-size: 18px; /*font-size : 글자 크기 변경, 기본은 16px*/
  font-family: "궁서체";
  /*font-family : 글꼴 변경, 1선택→2선택→n선택 글꼴 자동선택
                        글꼴은 , 로 구분해서 작성
                        종료는 ; 로 작성*/
  color: steelblue;
}
code {
  background-color: lightcoral; /*background-color : 배경색*/
  display: block;
  /* display : 배치 방식. 웹페이지에서 차지하는 공간과 위치 방식 결정
           block : 항상 새 줄에서 시작, 가로 너비를 모두 사용
                    width : 100% 처럼 등장
                    가로폭이 화면 전체를 채움. 여러 개의 블록이 나란히 배치되지 않음
                    태그 중에서 div, h1~h6, p 태그는 기본적으로 block으로 설정됨
        */
  font-weight: bold;
  /* font-weight : 글자 두께 설정
           bold : 두껍게
        */
}
